<h2>Hello <%= shop.legalName %>,</h2>
<p>
  We received your payment for an order of <%= order.amount %> euros, tor a
  duration of <%= order.duration %> month.
</p>
<p>You are now subscribed until the <%= order.endDate %> included.</p>
<p>
  You can find a summary of all your invoices on
  <a
    href="<%= process.env.REACT_APP_THIS_WEBSITE_URL%>/my-invoices"
    target="_blank"
    >your account.</a
  >
</p>
<p>
  If you have any question, please contact us at support@mkmpriceupdater.com.
</p>
<p>Bests,</p>
<p>The MTG Interface Team</p>
